<!DOCTYPE html>
<html>
<head>
  <title>Survey emoticons</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>About the use of emoticons in messaging apps</h2>
  <form role="form" name="frm" action="/peticion2" method="post">
    <div class="form-group"><img class="img-responsive" src="emoticonos.png" height="42"/><a href="enc.html"><img src="spanish.jpg" height="42"/></a></div>
    <div class="form-group">
      <label for="title">Age</label>
      <input type="number" class="form-control" id="replyNumber" min="12" name="age" data-bind="value:replyNumber" placeholder="Enter your age"/>
  </div>
  <div class="form-group">
      <label for="sel">Sex: </label>
      <select class="form-control" name="select1" id="sel">
        <option value="None">---</option>
        <option value="Mujer">Female</option>
        <option value="Varon">Male</option>
      </select>
  </div>
    <div class="form-group">
      <label for="sel2">Do you use technology?: </label>
      <select class="form-control" name="tecnologia" id="sel2">
        <option value="None">Do not answer</option>
        <option value="movil">Mobile</option>
        <option value="pc">Computer</option>
        <option value="mobileYpc">Mobile and computer</option>
      </select>
  </div>
  <div class="form-group">
      <label for="sel3">Do you use emoticons?: </label>
      <select class="form-control" name="uso" id="sel3">
        <option value="None">Do not answer</option>
        <option value="siEm">Yes</option>
        <option value="noEm">No</option>
      </select>
  </div>
  <div class="form-group">
      <label for="sel4">What frecuency do you use emoticons?: </label>
      <select class="form-control" name="frecuencia" id="sel4">
        <option value="None">Do not answer</option>
        <option value="siempre">Always</option>
        <option value="muchasVeces">Many times</option>
        <option value="ocasional">Rarely</option>
        <option value="nunca">Never</option>
      </select>
  </div>
  <div class="form-group">
      <label for="sel5">Do you consider that emoticons are useful?: </label>
      <select class="form-control" name="utilidad" id="sel5">
        <option value="None">Do not answer</option>
        <option value="si">Yes</option>
        <option value="mucasVeces">Sometimes they are useful</option>
        <option value="pocasVeces">Rarely they are useful</option>
        <option value="no">No</option>
      </select>
  </div>
    <div class="form-group">
      <label for="sel5">Do you think emoticons are well employed?: </label>
      <select class="form-control" name="usoAdecuado" id="sel5">
        <option value="None">Do not answer</option>
        <option value="si">Yes</option>
        <option value="no">No</option>
      </select>
  </div>
    <div class="form-group">
      <label for="sel6">Do you consider that the meaning of emoticonos are clear?: </label>
      <select class="form-control" name="significado" id="sel6">
        <option value="None">Do not answer</option>
        <option value="evidente">All emoticons are self-explained</option>
        <option value="algunos">Only a few have a clear meaning</option>
        <option value="ninguno">I do not understand the meaning of most of them</option>
      </select>
  </div>
    <div class="form-group">
      <label for="sel7">Do you distinguish the emoticons?: </label>
      <select class="form-control" name="seVen" id="sel7">
        <option value="None">Do not answer</option>
        <option value="si">Yes, I distinguish all of them </option>
        <option value="chat">I only distinguish them in a chat</option>
        <option value="menu">I only distinguish them in the menu</option>
        <option value="nunca">No, I never distinguish them</option>
      </select>
  </div>
  <div class="form-group">
      <label for="sel9">Do you agree with the size of emoticons?: </label>
      <select class="form-control" name="tam" id="sel9">
        <option value="None">Do not answer</option>
        <option value="grandes">They are too big</option>
        <option value="okTam">Their size is ok</option>
        <option value="peq">They are too small</option>
      </select>
  </div>
  <div class="form-group">
    <p><label class="title">What messaging application do you use?</label></p>
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox1" name="chechbox" value="whatsapp"> WhatsApp
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox2" name="chechbox" value="skype"> Skype
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox3" name="chechbox" value="fcbkMsg"> Facebook Msg
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox3" name="chechbox" value="telegram"> Telegram
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox3" name="chechbox" value="other"> Other
    </label>
  </div>
  <div class="form-group">
    <p><label class="title">Indicate where (device) do you use to write emoticons</label></p>
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox1" name="chechbox2" value="mobile"> Mobile or smartphone
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox2" name="chechbox2" value="desktop"> PC
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox3" name="chechbox2" value="none"> I do not use emoticons
    </label>
  </div>
  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
  </form>
</div>

</body>
</html>
