<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>About the use of emoticons in messaging apps</h2>
  <form role="form" name="frm" action="/peticion2" method="post">
    <div class="form-group"><img class="img-responsive" src="emoticonos.png" height="42"/><a href="enc.html"><img src="spanish.jpg" height="42"/></a></div>
    <div class="form-group">
      <label for="title">Age</label>
      <input type="title" class="form-control" type="text" min="15" max="100" name="age"  value="" placeholder="Enter your age"/>
  </div>
  <div class="form-group">
      <label for="sel">Sex: </label>
      <select class="form-control" name="select1" id="sel">
        <option value="None">---</option>
        <option value="Mujer">Female</option>
        <option value="Varon">Male</option>
      </select>
  </div>
  <div class="form-group">
    <p><label class="title">What messaging application do you use?</label></p>
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox1" name="chechbox" value="whatsapp"> WhatsApp
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox2" name="chechbox" value="skype"> Skype
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox3" name="chechbox" value="fcbkMsg"> Facebook Msg
    </label>
  </div>
  <div class="form-group">  
    <label for="readEmoticons">Do you like to read messages with emoticons?</label>
    <select class="form-control" name="readEmoticons">
      <option value="None">---</option>
      <option value="yes">Yes</option>
      <option value="no">No</option>
      <option value="indf">Indifferent</option>
    </select>
  </div>
  <div class="form-group">
    <label for="entender">Are you able to understand chats with emoticons?</label>
    <select class="form-control" name="entender" id="entender">
      <option value="None">---</option>
      <option value="yes">Yes, most of them</option>
      <option value="dudo">No, I do not understand them</option>
      <option value="pregunto">I usually try to guess the meaning</option>
      <option value="pocos">I only understand a few of them</option>
    </select>
  </div>
  <div class="form-group">
    <label for="writeEmoticons">Do you like to write using emoticons?</label>    
    <select class="form-control" name="writeEmoticons" id="writeEmoticons">
      <option value="None">---</option>
      <option value="yes">Yes</option>
      <option value="no">No</option>
      <option value="sometimes">Sometimes</option>
    </select>
  </div>
  <div class="form-group">
    <label for="razonableNo">I do not like using emoticons:</label>
    <select class="form-control" name="razonesNo" id="razonableNo">
      <option value="None">---</option>
      <option value="prisas">It is a waste of time</option>
      <option value="noSerio">It is not serious</option>
      <option value="noSe">I do not know how to use it</option>
      <option value="otra">I do not use them because other reason</option>
      <option value="siUso">I do use emoticons</option>
    </select>
  </div>
  <div class="form-group">
    <label for="veoBien">Do you distinguish clearly the emoticons on the menu?</label>
    <select class="form-control" name="veoBien" id="veoBien">
      <option value="None">---</option>
      <option value="no">No, they are too small</option>
      <option value="si">Yes I do</option>
    </select>
  </div>
  <div class="form-group">
    <label for="automated">Do you select emoticons from a menu or write them directly?</label>
    <select class="form-control" name="automated" id="automated">
      <option value="None">---</option>
      <option value="menu">I use the menu</option>
    <option value="direct">I write them without menu</option>
    <option value="menuYdirect">Both: with and without menu</option>
    <option value="indf">I do not use emoticons</option>
    </select>
  </div>
  <div class="form-group">
    <p><label class="title">Indicate where (device) do you use to write emoticons</label></p>
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox1" name="chechbox2" value="mobile"> Mobile or smartphone
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox2" name="chechbox2" value="desktop"> PC
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox3" name="chechbox2" value="none"> I do not use emoticons
    </label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

</body>
</html>
