<!DOCTYPE html>
<html>
<head>
  <title>Encuesta emoticones</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Sobre el uso de emoticonos en aplicaciones de mensajes</h2>
  <form role="form" name="frm" action="/peticion2" method="post">
    <div class="form-group"><img class="img-responsive" src="emoticonos.png" height="42"/><a href="enc-eng.html"><img src="inglesa.jpg" height="42"/></a></div>
    <div class="form-group">
      <label for="age">Edad</label>
      <input type="number" class="form-control" id="replyNumber" min="12" name="age" data-bind="value:replyNumber"  placeholder="Ponga aqui su edad"/>
  </div>
  <div class="form-group">
      <label for="sel">Sexo: </label>
      <select class="form-control" name="select1" id="sel">
        <option value="None">---</option>
        <option value="Mujer">Mujer</option>
        <option value="Varon">Hombre</option>
      </select>
  </div>
  <div class="form-group">
    <p><label class="title">¿Qué aplicación de mensajes utilizas?</label></p>
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox1" name="chechbox" value="whatsapp"> WhatsApp
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox2" name="chechbox" value="skype"> Skype
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox3" name="chechbox" value="fcbkMsg"> Facebook Msg
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox3" name="chechbox" value="telegram"> Telegram
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox3" name="chechbox" value="other"> Otra
    </label>
  </div>
  <div class="form-group">  
    <label for="readEmoticons">¿Te gusta leer mensajes que contienen emoticonos?</label>
    <select class="form-control" name="readEmoticons">
      <option value="None">---</option>
      <option value="yes">si</option>
      <option value="no">no</option>
      <option value="indf">indiferente</option>
    </select>
  </div>
  <div class="form-group">
    <label for="entender">¿Entiendes los mensajes que contienen emoticonos?</label>
    <select class="form-control" name="entender" id="entender">
      <option value="None">---</option>
      <option value="yes">si, entiendo la mayoría de ellos</option>
      <option value="dudo">no estoy seguro de si interpreto bien su significado</option>
      <option value="pregunto">suelo preguntar el significado de los que no conozco</option>
      <option value="pocos">entiendo solo unos pocos (reir, llorar y poco mas)</option>
    </select>
  </div>
  <div class="form-group">
    <label for="writeEmoticons">¿Sueles escribir mensajes utilizando emoticonos?</label>    
    <select class="form-control" name="writeEmoticons" id="writeEmoticons">
      <option value="None">---</option>
      <option value="yes">Si</option>
      <option value="no">No</option>
      <option value="sometimes">En ocasiones</option>
    </select>
  </div>
  <div class="form-group">
    <label for="razonableNo">No utilizo emoticonos por:</label>
    <select class="form-control" name="razonesNo" id="razonableNo">
      <option value="None">---</option>
      <option value="prisas">Se pierde tiempo</option>
      <option value="noSerio">Me parece poco serio</option>
      <option value="noSe">Por que no se cómo utilizarlos</option>
      <option value="otra">No los uso porque no los distingo bien</option>
      <option value="siUso">Si que utilizo emoticonos</option>
    </select>
  </div>
  <div class="form-group">
    <label for="veoBien">¿Distingues bien los emoticonos en el menu?</label>
    <select class="form-control" name="veoBien" id="veoBien">
      <option value="None">---</option>
      <option value="no">No, son muy pequeños</option>
      <option value="si">Si</option>
    </select>
  </div>
  <div class="form-group">
    <label for="automated">¿Utilizas emoticonos desde un menu o los escribes directamente?</label>
    <select class="form-control" name="automated" id="automated">
      <option value="None">---</option>
      <option value="menu">Utilizo el menu</option>
      <option value="direct">Escribo emoticonos sin usar el menu</option>
      <option value="menuYdirect">Ambos: menu y directamente</option>
      <option value="indf">No uso emoticonos</option>
    </select>
  </div>
  <div class="form-group">
    <p><label class="title">Indica dónde (dispositivo) sueles escribir con emoticonos</label></p>
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox1" name="chechbox2" value="mobile"> Movil
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox2" name="chechbox2" value="desktop"> PC
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox3" name="chechbox2" value="none"> En ninguno
    </label>
  </div>
  <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
  </form>
</div>

</body>
</html>
