<!DOCTYPE html>
<html>
<head>
  <title>Encuesta emoticones</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Sobre el uso de emoticonos en aplicaciones de mensajes</h2>
  <form role="form" name="frm" action="/peticion2" method="post">
    <div class="form-group"><img class="img-responsive" src="emoticonos.png" height="42"/><a href="enc-eng.html"><img src="inglesa.jpg" height="42"/></a></div>
    <div class="form-group">
      <label for="age">Edad</label>
      <input type="number" class="form-control" id="replyNumber" min="12" name="age" data-bind="value:replyNumber"  placeholder="Ponga aquí su edad"/>
  </div>
  <div class="form-group">
      <label for="sel">Sexo: </label>
      <select class="form-control" name="select1" id="sel">
        <option value="None">No contestar</option>
        <option value="Mujer">Mujer</option>
        <option value="Varon">Hombre</option>
      </select>
  </div>
  <div class="form-group">
      <label for="sel2">Sobre el uso de la tecnología: </label>
      <select class="form-control" name="tecnologia" id="sel2">
        <option value="None">No contestar</option>
        <option value="movil">Movil</option>
        <option value="pc">Ordenador</option>
        <option value="mobileYpc">Móvil y ordenador</option>
      </select>
  </div>
  <div class="form-group">
      <label for="sel3">¿Usas emoticonos: </label>
      <select class="form-control" name="uso" id="sel3">
        <option value="None">No contestar</option>
        <option value="siEm">Si</option>
        <option value="noEm">No</option>
      </select>
  </div>
  <div class="form-group">
      <label for="sel4">¿Con qué frecuencia usas los emoticonos?: </label>
      <select class="form-control" name="frecuencia" id="sel4">
        <option value="None">No contestar</option>
        <option value="siempre">Siempre</option>
        <option value="muchasVeces">En muchas ocasiones</option>
        <option value="ocasional">Rara vez</option>
        <option value="nunca">Nunca</option>
      </select>
  </div>
  <div class="form-group">
      <label for="sel5">¿Te parecen útiles los emoticonos?: </label>
      <select class="form-control" name="utilidad" id="sel5">
        <option value="None">No contestar</option>
        <option value="si">Si</option>
        <option value="muchasVeces">Muchas veces</option>
        <option value="pocasVeces">Pocas veces</option>
        <option value="nunca">Nunca</option>
      </select>
  </div>
    <div class="form-group">
      <label for="sel5">¿Crees que los emoticonos se usan bien?: </label>
      <select class="form-control" name="usoAdecuado" id="sel5">
        <option value="None">No contestar</option>
        <option value="si">Si</option>
        <option value="no">No</option>
      </select>
  </div>
    <div class="form-group">
      <label for="sel6">¿Te parece claro el significado de los emoticonos?: </label>
      <select class="form-control" name="significado" id="sel6">
        <option value="None">No contestar</option>
        <option value="evidente">Es evidente</option>
        <option value="algunos">Solo algunos emoticonos me parecen claros</option>
        <option value="ninguno">No comprendo el significado de ninguno</option>
      </select>
  </div>
    <div class="form-group">
      <label for="sel7">¿Te parece que los emoticonos se ven bien?: </label>
      <select class="form-control" name="seVen" id="sel7">
        <option value="None">No contestar</option>
        <option value="si">Si, se ven perfectamente</option>
        <option value="chat">Sólo los veo bien en la conversación</option>
        <option value="menu">Sólo los veo bien en el menú</option>
        <option value="nunca">No, no se ven bien</option>
      </select>
  </div>
  <div class="form-group">
      <label for="sel9">¿Te parece bien el tamaño de los emoticonos?: </label>
      <select class="form-control" name="tam" id="sel9">
        <option value="None">No contestar</option>
        <option value="grandes">Son grandes</option>
        <option value="okTam">Tienen un tamaño adecuado</option>
        <option value="peq">Son demasiado pequeños</option>
      </select>
  </div>
  <div class="form-group">
    <p><label class="title">¿Qué aplicación de mensajes utilizas?</label></p>
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox1" name="chechbox" value="whatsapp"> WhatsApp
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox2" name="chechbox" value="skype"> Skype
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox3" name="chechbox" value="fcbkMsg"> Facebook Msg
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox3" name="chechbox" value="telegram"> Telegram
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox3" name="chechbox" value="other"> Otra
    </label>
  </div>
  <div class="form-group">
    <p><label class="title">Indica dónde (dispositivo) sueles escribir con emoticonos</label></p>
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox1" name="chechbox2" value="mobile"> Movil
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox2" name="chechbox2" value="desktop"> PC
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox3" name="chechbox2" value="none"> En ninguno
    </label>
  </div>
  <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
  </form>
</div>
</body>
</html>
