<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Sobre el uso de emoticonos en aplicaciones de mensajes</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script>
		$(document).on('ready',function(){
			var pet=$('#main form').attr('action');
			var met=$('#main form').attr('method');
			//var ed,se,pr,us,ms,con,con2,no,num,inte,cont; 
			var target=document.getElementById("#status");
			function obtenerValoresCheckbox(nombre)
			{
				var checkboxes = document.getElementsByName(nombre);
				var vals = "";
				for (var i=0, n=checkboxes.length;i<n;i++) {
				  if (checkboxes[i].checked) 
				  {
				  vals += checkboxes[i].value+",";
				  }
				}
				//if (val) val = val.substring(1);
				return vals;
			}
			$('#main form').submit(function(e){
				e.preventDefault();
				var chk=obtenerValoresCheckbox('checkbox');
				var chk1=obtenerValoresCheckbox('checkbox1[]');
				var chk2=obtenerValoresCheckbox('checkbox2[]');

				var datos={
					'edad':$('input[name=age]').val(),
					'sexo':$('select[name=select1]').val(),
					'usos':chk,//$('checkbox[name=checkbox').val(),
					'writeEmoticons':$('select[name=writeEmoticons]').val(),
					'razonesNo':$('select[name=razonesNo]').val(),
					'readEmoticons':$('select[name=readEmoticons]').val(),
					'entender':$('select[name=entender]').val(),
					'where':chk2,//$('#checkbox2[]:checked').val(),
					'veoBien':$('select[name=veoBien]').val(),
					'automated':$('select[name=automated]').val(),
				};
				//console.log(datos);
				$.ajax({
					url:pet,
					type:met,
					contentType:'application/json',
					data: JSON.stringify(datos),//JSON.stringify({edad:ed,sexo:se,profesion:pr,movPda:mv,prefSep:sep,usos:us,prgMsg:ms,numContTot:con,numConReales:con2,tipoNot:no,numNot:num,interrumpo:inte}),
					//$('#main form').serialize(), //esta es una manera de enviarlo
					//data:{nombre:nom,mail:m,mensaje:msj},
					success:function(resp){
						$('.submit').remove();
						$('#main form').remove();
						$('#status').html('<img src=ok.png height="42"/> Muchas gracias');
						console.log(resp)
					},
					error:function(jqXHR,estado,error){
						$('#status').html('<img src=nook.png height="42" /> Vaaaaaya');	
						console.log(estado);
						console.log(error)
					},
					complete:function(jqXHR,estado){
						console.log(estado);
					},
					timeout:10000
				})
			})
		})
	</script>	
</head>
<body class="blurBg-false" style="background-color:#EBEBEB">


<div id="main">
<!-- Start Formoid form-->
<link rel="stylesheet" href="formoid-default-skyblue.css" type="text/css" />
<script type="text/javascript" src="jquery.min.js"></script>
<form class="formoid-default-skyblue" style="background-color:#ffffff;font-size:14px;font-family:'Open Sans','Helvetica Neue','Helvetica',Arial,Verdana,sans-serif;color:#666666;max-width:900px;min-width:150px" name="frm" action="/peticion" method="post"><div class="title"><h2>Sobre el uso de emoticonos en aplicaciones de mensajes</h2><a href="quest-mobile-eng.html"><img src="inglesa.jpg" height="42"/></a><img class="img-responsive" src="emoticonos.png" /></div>
	<div class="element-number"><label class="title">Edad</label><input class="large" type="text" min="15" max="100" name="age"  value=""/></div>
	<div class="element-select"><label class="title">Sexo<span class="required">*</span></label><div class="large"><span><select name="select1" required="required">
		<option value="None">---</option>
		<option value="Mujer">Mujer</option>
		<option value="Varon">Hombre</option></select><i></i></span></div></div>
	<div class="element-checkbox"><label class="title">¿Qué aplicación de mensajes utilizas?<span class="required">*</span></label>		<div class="column column4"><label><input type="checkbox" name="checkbox" value="Skype"/ ><span>Skype</span></label><label><input type="checkbox" name="checkbox" value="Whatsapp"/ ><span>Whatsapp</span></label><label><input type="checkbox" name="checkbox" value="Yahoo Messenger"/ ><span>Yahoo Messenger</span></label></div><span class="clearfix"></span>
		<div class="column column4"><label><input type="checkbox" name="checkbox" value="Facebook"/ ><span>Facebook</span></label><label><input type="checkbox" name="checkbox" value="Twitter"/ ><span>Twitter</span></label><label><input type="checkbox" name="checkbox" value="Line"/ ><span>Line</span></label></div><span class="clearfix"></span>
		<div class="column column4"><label><input type="checkbox" name="checkbox" value="Telegram"/ ><span>Telegram</span></label><label><input type="checkbox" name="checkbox" value="Google"/ ><span>Google Hangouts</span></label><label><input type="checkbox" name="checkbox" value="Other"/ ><span>Other</span></label>
		</div><span class="clearfix"></span>
</div>
<div class="element-select"><label class="title">¿Te gusta leer mensajes que contienen emoticonos?<span class="required">*</span></label>		<select name="readEmoticons">
		<option value="None">---</option>
		<option value="yes">si</option>
		<option value="no">no</option>
		<option value="indf">indiferente</option>
	</select>
	<span class="clearfix"></span>
</div>
	<div class="element-select"><label class="title">¿Entiendes los mensajes que contienen emoticonos?<span class="required">*</span></label><div class="large"><span><select name="entender" >
		<option value="None">---</option>
		<option value="yes">si, entiendo la mayoría de ellos</option>
		<option value="dudo">no estoy seguro de si interpreto bien su significado</option>
		<option value="pregunto">suelo preguntar el significado de los que no conozco</option>
		<option value="pocos">entiendo solo unos pocos (reir, llorar y poco mas)</option>
		</select><i></i></span></div></div>
	<div class="element-select"><label class="title">¿Sueles escribir mensajes utilizando emoticonos?<span class="required">*</span></label>		<select name="writeEmoticons">
		<option value="None">---</option>
		<option value="yes">Si</option>
		<option value="no">No</option>
		<option value="sometimes">En ocasiones</option>
	</select>
	<span class="clearfix"></span>
</div>
<div class="element-select"><label class="title">No utilizo emoticonos por:<span class="required">*</span></label>		<select name="razonesNo">
		<option value="None">---</option>
		<option value="prisas">Se pierde tiempo</option>
		<option value="noSerio">Me parece poco serio</option>
		<option value="noSe">Por que no se cómo utilizarlos</option>
		<option value="otra">No los uso porque no los distingo bien</option>
		<option value="siUso">Si que utilizo emoticonos</option>
	</select>
	<span class="clearfix"></span>
</div>
<div class="element-select"><label class="title">¿Distingues bien los emoticonos en el menu?<span class="required">*</span></label>		<select name="veoBien">
		<option value="None">---</option>
		<option value="no">No, son muy pequeños</option>
		<option value="si">Si</option>
	</select>
	<span class="clearfix"></span>
</div>
<div class="element-select"><label class="title">¿Utilizas emoticonos desde un menu o los escribes directamente?<span class="required">*</span></label>		<select name="automated">
		<option value="None">---</option>
		<option value="menu">Utilizo el menu</option>
		<option value="direct">Escribo emoticonos sin usar el menu</option>
		<option value="menuYdirect">Ambos: menu y directamente</option>
		<option value="indf">No uso emoticonos</option>
	</select>
	<span class="clearfix"></span>
</div>
	<div class="element-checkbox"><label class="title">Indica dónde (dispositivo) sueles escribir con emoticonos<span class="required">*</span></label>		
		<div class="column column3"><label><input type="checkbox" name="checkbox2[]" value="mobile"/ ><span>Móvil, smartphone or tablet</span></label></div><span class="clearfix"></span>
		<div class="column column3"><label><input type="checkbox" name="checkbox2[]" value="desktop"/ ><span>Mi computadora (laptop or desktop)</span></label></div><span class="clearfix"></span><div class="column column3"><label><input type="checkbox" name="checkbox2[]" value="none"/ ><span>En ninguno</span></label></div><span class="clearfix"></span>
</div>
	
<div class="submit"><input type="submit" value="Enviar"/></div>
</form>
<div id="status"></div>
<p class="frmd"><a href="http://formoid.com/v28.php">online forms</a> Formoid.com 2.8</p><script type="text/javascript" src="http://www.upler.com/test/formoid_files/formoid1/formoid-default-skyblue.js"></script>
<!-- Stop Formoid form-->

</div>

</body>
</html>
